body,
html {
    background-color: lightblue;
    height: 100%;
    margin: 0;
}

.footer {
    width: 100%;
    margin-top: 50px;
}

.container {
    width: 1000px;
    height: 720px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: auto;
    margin-top: 30px;
}

#pokedex-left {
    background-color: #fe1a55;
    position: relative;
    height: 100%;
    width: 45%;
    border-top-left-radius: 1.5em 1em;
    border-bottom-left-radius: 1em 1em;
    box-shadow: 0 2em #481557;
}

#pokedex-middle {
    height: 102%;
    width: 50px;
    display: flex;
    margin-top: -1%;
    position: relative;
    clip-path: polygon(-1% 1.5%, 20% 0.5%, 35% 0%, 40% -0.5%, 60% -0.5%, 65% 0%, 80% 0.5%, 101% 1.5%, 101% 120%, -1% 120%);
}

#middle-bar1 {
    display: inline-block;
    height: 100%;
    width: 20%;
    background-color: #fe1a55;
}

#middle-bar2 {
    display: inline-block;
    height: 100%;
    width: 20%;
    background-color: #fc9074;
}

#middle-bar3 {
    display: inline-block;
    height: 100%;
    width: 20%;
    background-color: #fe1a55;
}

#middle-bar4 {
    display: inline-block;
    height: 100%;
    width: 40%;
    background-color: #481557;
}

#middle-ellipse {
    position: absolute;
    top: 98.5%;
    left: 0%;
    height: 3%;
    width: 100%;
    background-color: #481557;
    border-radius: 70%;
}

#pokedex-right {
    position: relative;
    height: 100%;
    width: 45%;
    box-shadow: 0 2em #481557;
}

#pokedex-right-svg1 {
    position: absolute;
    top: 10%;
    left: 0%;
    fill: #fe1a55;
    height: 90%;
    border-bottom-right-radius: 1em 1em;
}

#pokedex-right-svg2 {
    position: absolute;
    top: 18%;
    left: 5%;
    width: 90%;
}

#pokedex-right-svg2 path {
    paint-order: stroke;
    stroke: #481557;
    fill: transparent;
    stroke-width: 0.5em;
    stroke-linejoin: round;
}

.search-box {
    position: absolute;
    top: 36%;
    left: 15%;
    width: 70%;
    height: 10.5%;
    background: repeating-linear-gradient( -45deg, #294e61, #294e61 20px, #0c1a57 20px, #0c1a57 60px);
    border-radius: 8px;
    box-shadow: 0 -10px #00094f;
}

#input-search {
    width: 75%;
    font-size: 160%;
    background-color: transparent;
    color: white;
    border: 0;
    margin-top: 1%;
    margin-left: 1%;
    padding: 10px 0;
}

#input-search:focus {
    outline: none;
}

#search-button {
    background-color: transparent;
    cursor: pointer;
    float: left;
    height: 50px;
    text-align: center;
    width: 50px;
}

#search-button img {
    height: 100%;
    margin: 4px;
    width: 100%;
}

#button-section {
    display: flex;
    justify-content: center;
    position: relative;
    top: 82%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%) translateY(-50%);
}

#white-btn-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 73%;
    left: 41%;
    width: fit-content;
    transform: translateX(-50%) translateY(-50%);
}

.tab-button {
    background-color: #0c1a57;
    color: white;
    width: 30%;
    padding: 15px;
    border: 0;
    border-radius: 0.6em;
    margin-right: 5%;
    margin-left: 5%;
}

.tab-button:hover {
    background-color: #5e6898;
    cursor: pointer;
}

#left-screen-container {
    position: absolute;
    top: 30%;
    left: 10%;
    height: 45%;
    width: 80%;
    background-color: #f2f4e7;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 60px 20px;
    box-shadow: 0.7em 0.4em #481557;
}

#left-screen {
    background-color: #00d7fc;
    width: 95%;
    height: 80%;
    border-radius: 10px;
    margin: 0 auto;
}

#small-red-dot {
    display: inline-block;
    width: 2%;
    background-color: #fc1b56;
    border-radius: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 1%;
    margin-left: 1%;
    padding-bottom: 2%;
    border-style: solid;
    border-width: 1%;
    border-color: #481557;
}

#red-dot-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 4%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%) translateY(-50%);
}

.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    padding-top: 230px;
    font-weight: bold;
}

.styled-table thead tr {
    background-color: #00094f;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 2px 6px;
    text-align: left;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}


/* For the D-pad */

#crabs {
    padding: 0;
    /* margin: -150px; */
    width: 3em;
    height: 3em;
    position: relative;
    top: 80%;
    left: 70%;
}

.apper {
    position: relative;
    height: 9em;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: drop-shadow(7px 5px 0px #73225b);
}

.center {
    z-index: 2;
    top: 2.5em;
}

.center-circle {
    position: static;
    background: #777;
    border-radius: 100%;
    margin: auto;
    width: 75%;
    height: 75%;
    z-index: 3;
}

.up,
.right,
.down,
.left,
.center {
    position: fixed;
    display: flex;
    background: #000850;
    padding: 20px;
    /* border: 1px solid #222; */
}

.right {
    top: 2.5em;
    left: 2.5em;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
}

.up {
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
}

.left {
    top: 2.5em;
    right: 3em;
    border-top-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
}

.down {
    top: 5em;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
}

.up-triangle {
    position: absolute;
    bottom: 12px;
    right: 5px;
    margin: auto;
    width: 65%;
    height: 65%;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    border-bottom: solid 20px #162b5a;
    box-sizing: border-box;
}

.right-triangle {
    position: absolute;
    bottom: 7px;
    right: 0px;
    margin: auto;
    width: 65%;
    height: 65%;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    border-bottom: solid 20px #162b5a;
    transform: rotate(90deg);
    box-sizing: border-box;
}

.down-triangle {
    position: absolute;
    bottom: 2px;
    right: 5px;
    margin: auto;
    width: 65%;
    height: 65%;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    border-bottom: solid 20px #162b5a;
    transform: rotate(180deg);
    box-sizing: border-box;
}

.left-triangle {
    position: absolute;
    bottom: 7px;
    left: 1px;
    margin: auto;
    width: 65%;
    height: 65%;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    border-bottom: solid 20px #162b5a;
    transform: rotate(-90deg);
    box-sizing: border-box;
}


/* Small useless buttons */

#led-container {
    position: absolute;
    top: 8%;
    left: 38%;
    width: fit-content;
    height: 30px;
}

#led {
    display: inline-block;
    background: #fe1a55;
    border-radius: 50%;
    border-color: #001458;
    border-style: solid;
    border-width: 5px;
    width: 25px;
    height: 25px;
    box-shadow: -2px -2px 4px inset;
}

#circle {
    position: absolute;
    top: 80%;
    left: 8%;
    background: #00AAF7;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 8px 8px 2px 0px rgba(121, 120, 120, 0.63);
    /* box-shadow: inset 0px 0px 20px rgba(0,0,0,0); */
}

#redcircle {
    position: absolute;
    top: 89%;
    left: 10%;
    background: #FE1A55;
    border-radius: 50%;
    border-color: #373A6E;
    border-style: solid;
    border-width: 3px;
    width: 25px;
    height: 25px;
}

#redcircle2 {
    background: #FE1A55;
    border-radius: 50%;
    border-color: #373A6E;
    border-style: solid;
    border-width: 4px;
    width: 40px;
    height: 40px;
}

#retgr {
    position: absolute;
    top: 82%;
    left: 24%;
    background: #30F354;
    border-radius: 15px;
    width: 60px;
    height: 14px;
    box-shadow: 8px 8px 2px 0px rgba(121, 120, 120, 0.63);
}

#retor {
    position: absolute;
    top: 82%;
    left: 42%;
    background: #FB8E55;
    border-radius: 15px;
    width: 60px;
    height: 14px;
    box-shadow: 8px 8px 2px 0px rgba(121, 120, 120, 0.63);
}

#retsmall {
    background: #0D1A57;
    border-radius: 10px;
    width: 30px;
    height: 9px;
    margin-right: 3px;
}

#vents {
    background: #0D1A57;
    border-radius: 10px;
    width: 130px;
    height: 6px;
    margin-bottom: 3%;
}

#vents-container {
    position: absolute;
    top: 90%;
    left: 60%;
}

#small-vent-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: fit-content;
    transform: translateX(-50%) translateY(-50%);
    top: 68%;
    left: 82%;
}

#retye {
    position: absolute;
    top: 90%;
    left: 8%;
    background: #F9EE60;
    border-radius: 6px;
    width: 200px;
    height: 50px;
}

#retbl {
    background: #0C1A57;
    border-radius: 10px;
    width: 300px;
    height: 90px;
}

#retwh {
    background: #F2F4E7;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    box-shadow: 8px 8px 0px 0px #481558;
    margin-right: 20px;
}


/* Blinking LED */

#yellow-light {
    position: absolute;
    top: 70%;
    left: 80%;
    background: #0F1C3F;
    border-radius: 50%;
    height: 41px;
    width: 41px;
}

#yellow-light-blink {
    background: yellow;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 78%;
    width: 78%;
    position: relative;
    animation: blinker 1s linear infinite;
    box-shadow: -4px -4px 6px inset gray;
}

@keyframes blinker {
    50% {
        opacity: 0.5;
    }
}


/* Camera */

#camera-container {
    /* position: relative; */
    width: 100%;
    padding-bottom: 100%;
    position: absolute;
    top: 8%;
    left: 8%;
}

#camera {
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 7px 6px 1px 0px #481558;
    position: absolute;
    width: 26%;
    height: 26%;
}

#camera-half-circle {
    position: absolute;
    top: 50%;
    width: 85%;
    height: 44%;
    background-color: transparent;
    border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
    border: 9px solid #6cdfe0;
    border-top: 0;
}

#camera-inner-circle {
    background-color: #01dbff;
    border-radius: 50%;
    margin-top: 18%;
    margin-left: 18%;
    position: absolute;
    width: 55%;
    height: 55%;
    border: 6px solid #090248;
    box-shadow: -3px -3px 6px inset gray;
}


/* Blue Buttons */

#blue-pannel {
    position: absolute;
    top: 50%;
    left: 15%;
    border-radius: 15px;
    height: 20%;
    width: 70%;
}

#blue-pannel-row-1 {
    float: left;
    display: block;
    width: 100%;
    height: auto;
    background-color: #0093D3;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

#blue-pannel-row-2 {
    clear: left;
    float: left;
    width: 100%;
    height: auto;
    background-color: #0093D3;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    margin-bottom: -40px;
}

#blueboard {
    display: inline-block;
    background-color: #00AAF7;
    padding: 7.4%;
    width: 4%;
    box-shadow: inset 0px 5px 0px 0px #2CC6EE;
    /* margin-bottom: -4px; */
}

#blueboardmiddle {
    display: inline-block;
    background-color: #00AAF7;
    box-shadow: inset 0px 5px 0px 0px #2CC6EE;
    padding: 7.5%;
    width: 4%;
    /* margin-bottom: -4px; */
}

#blueboardbotton {
    background-color: #00AAF7;
    box-shadow: inset 0px 5px 0px 0px #2CC6EE;
    display: inline-block;
    padding: 7.4%;
    width: 4%;
    /* margin-bottom: -4px; */
}

#btn-container {
    width: fit-content;
    height: 100px;
    margin: auto;
}

#btn-add-new {
    background-color: #090248;
    width: 200px;
    height: 60px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    box-shadow: 3px 3px 20px 0px black;
    margin-right: 30px;
}


/* Form Style */

.form-container {
    z-index: 15;
    position: relative;
    background: #FFFFFF;
    width: 600px;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 30px auto 10px;
    overflow: hidden;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 20px;
}

.form-group:last-child {
    margin: 0;
}

.form-group label {
    display: block;
    margin: 0 0 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.form-group input {
    outline: none;
    display: block;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.6);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    transition: 0.3s ease;
}

.form-group button {
    outline: none;
    background: #4285F4;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;
}

.form-panel {
    padding: 20px calc(5% + 60px) 60px 60px;
    box-sizing: border-box;
}

.form-header {
    margin: 0 0 40px;
}

.form-header h1 {
    padding: 4px 0;
    color: #4285F4;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}


/* Delete Table */

#poke-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
}

#poke-table td,
#poke-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#poke-table tr {
    background-color: #f2f2f2;
}

#poke-table tr:hover {
    background-color: #ddd;
}

#poke-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4285F4;
    color: white;
}